.login {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 1rem;
  /* This make login grid take 100 view port of height to make it fit on screen */
  height: 100vh;
}
.login-wallpaper {
  position: relative;
}
.login-wallpaper {
  /* background-color: #074f57; */
  background-image: url("../images/login-img.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding: 250px 0;
}
/* ******************** login details *******************/
/* login container */
.login-details {
  display: flex;
  justify-content: center;
  flex-direction: column;

  margin-top: 2rem;
}
.login-details__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-details__container-image {
  width: 14%;
  margin-bottom: 0.9375rem;
}
.login-details__container-text--title {
  font-size: var(--size-3xl);
  font-weight: 700;
  letter-spacing: 1px;
}

.login-details__container-text--description {
  font-size: var(--size-sm);
}

.login-details__container-text--title,
.login-details__container-text--description {
  text-align: center;
}
/* google link (button) */
.btn-google {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  width: 88%;
  margin: 2.5rem auto;
  border-radius: 11px;
  padding: 12px;
  border: 2px solid #e8e8e8cb;

  text-decoration: none;
  margin-top: 2.5rem;
}

.btn-google:hover {
  background-color: #e1e1e1b7;
}

.btn-google__text {
  font-size: var(--size-sm);
  color: var(--clr-google-text);
  font-weight: 700;
}

/* login with email */
.login-with-email__container {
  margin: 0 0 3rem;
}
.login-with-email__container-text {
  text-align: center;
  font-weight: 600;
  color: var(--clr-login-with-email);
  font-size: var(--size-xs);
}

.login-details__container-text {
  width: 100%;
}

/* forms */
/* method: grid */
.login-form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 24px;
  padding: 0 21px;
}

.login-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: var(--size-xs);
  font-weight: 600;
  color: var(--clr-google-text);
  margin-bottom: 5px;
}

.login-form__input {
  width: 100%;
  padding: 16px 12px;
  border-radius: 10px;
  font-family: inherit;
  border: 1px solid var(--clr-login-border);
}
::placeholder {
  color: var(--clr-login-placeholder);
}

/* checkbox */
.login-form__checkbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}
.login-form__checkbox-container--box[type="checkbox"] {
  accent-color: var(--clr-rose);
  transform: scale(0.9);
}

.login-form__checkbox-container--label {
  color: var(--clr-google-text);
  cursor: pointer;
}
.login-form__checkbox-container--label,
.login-form__checkbox-container--link {
  font-size: var(--size-sm);
}

.login-form__checkbox-container--link {
  font-size: var(--size-sm);
  text-decoration: none;
}

/* create new account */
.login-create-account {
  margin-top: 6rem;
  text-align: center;
}
.login-create-account__description {
  font-size: var(--size-base);
}

.login-create-account__link {
  text-decoration: none;
}

/* ################################################################################# */
/* ################################# xs devices ###########################################*/
/* ################################################################################# */
@media (min-width: 475px) {
  .login-details__container-image {
    width: 13%;
  }

  .btn-google {
    width: 91%;
  }

  .login-wallpaper__text-container-description {
    margin-top: 0.1rem;
    font-size: var(--size-sm);
  }

  .login-with-email__container-text {
    font-size: var(--size-sm);
  }

  .login-create-account {
    margin: 10rem 0 0.5rem;
  }
  .login-details {
    margin-top: 4rem;
  }

  .login-details__container-text--title {
    text-align: center;
  }
}
/* ################################################################################# */
/* ################################# md devices ###########################################*/
/* ################################################################################# */
@media (min-width: 768px) {
  .login-wallpaper__text-container {
    bottom: 62px;
  }
  .login-wallpaper__text-container-description {
    font-size: var(--size-base);
  }
  .login-wallpaper__text-container-title {
    font-size: var(--size-2xl);
  }

  .login-wallpaper {
    padding: 400px;
  }
  /* control details */
  .login-details {
    gap: 35px;
  }

  .login-details__container {
    gap: 18px;
  }
  .login-details__container-image {
    width: 9%;
  }

  .login-details__container-text--title {
    font-size: var(--size-4xl);
  }

  .login-details__container-text--description {
    font-size: var(--size-lg);
    margin-top: 0.3rem;
  }
  .btn-google__text {
    font-size: var(--size-lg);
  }
  .login-form {
    row-gap: 30px;
  }

  .login-with-email__container-text {
    font-size: var(--size-base);
  }
  .login-form__label {
    font-size: var(--size-sm);
    margin-bottom: 12px;
  }
  .login-form__checkbox-container--label,
  .login-form__checkbox-container--link {
    font-size: var(--size-base);
  }
  .login-form__checkbox-container--box[type="checkbox"] {
    transform: scale(1);
  }
  .login-create-account__description {
    font-size: var(--size-xl);
  }
  /****************** container-padding ******************/

  .btn-and-form {
    width: 64% !important;
    margin: 0 auto;
  }
}

/* ################################################################################# */
/* ################################# lg devices ###########################################*/
/* ################################################################################# */

@media (min-width: 1024px) {
  /****************** container-padding ******************/
  .login {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0;
  }

  .login-wallpaper {
    padding: 0;
  }

  .login-details__container {
    align-items: flex-start;
  }

  .login-details__container-text--title,
  .login-details__container-text--description {
    text-align: left;
  }
  .login-details__container-image {
    width: 12%;
    margin-bottom: 6px;
  }

  .login-details__container-text--title {
    font-size: var(--size-2xl);
  }
  .login-details__container-text--description {
    font-size: var(--size-xs);
    margin-top: 0;
  }
  .btn-google {
    margin: 27px 0 0;
    width: 25vw;
    padding: 6px 0;
  }
  .btn-google__text {
    font-size: var(--size-xs);
  }

  .login-details {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  /* login with email  */
  .login-with-email__container-text {
    font-size: var(--size-xs);
  }
  .login-with-email__container {
    margin: 0 0 0;
  }

  /* login form */
  .login-form {
    row-gap: 16px;
  }
  .login-form__label {
    font-size: var(--size-xs);
    margin-bottom: 6px;
  }
  .login-form__input {
    padding: 10px 10px;
  }
  .login-form__checkbox-container {
    margin-top: 4px;
  }

  .login-form__checkbox-container--label,
  .login-form__checkbox-container--link {
    font-size: var(--size-xs);
  }
  .login-form-container {
    width: 55%;
  }

  .login-create-account {
    margin-top: 1rem;
  }

  .login-create-account__description {
    font-size: var(--size-sm);
  }
}
