.login {
  /* display: flex; */
  /* flex-direction: column; */
  /* not working */
  /* justify-content: center; */
  display: grid;
  grid-template-columns: 1fr;

  margin-bottom: 1rem;
}
.login-wallpaper {
  position: relative;
}

.login-wallpaper__text-container {
  width: 100%;
  position: absolute;
  bottom: 12px;
  text-align: center;
}

.login-wallpaper__text-container-title {
  font-size: var(--size-xl);
  font-weight: 800;
}

.login-wallpaper__text-container-description {
  font-size: var(--size-sm);
  font-weight: 600;
}

.login-wallpaper__text-container-title,
.login-wallpaper__text-container-description {
  color: var(--clr-rose);
}

/* ******************** login details *******************/
/* login container */
.login-details {
  display: flex;
  justify-content: center;
  flex-direction: column;

  margin-top: 2rem;
  /* border: 2px solid black; */
}
.login-details__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-details__container-image {
  width: 14%;
  /* 15px */
  margin-bottom: 0.9375rem;
}
.login-details__container-text--title {
  /* font-size: var(--size-2xl); */
  font-size: var(--size-3xl);
  font-weight: 700;
  letter-spacing: 1px;
}

.login-details__container-text--description {
  /* font-size: var(--size-sm); */
  font-size: var(--size-base);
  /* 3px */
  margin-top: 0.69rem;
  text-align: center;
}
/* google link (button) */
.btn-google {
  /* width: 100%; */
  /* width: 83%; */
  /* width: 91%; */
  width: 88%;

  margin: 2.5rem auto;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  /* width: 420px; */
  /* padding: 10px; */
  /* background-color: black; */
  border-radius: 11px;
  /* padding: 8px; */
  padding: 12px;
  border: 2px solid #e8e8e8cb;

  text-decoration: none;
  /* 24px */
  /* margin-top: 1.5rem; */
  margin-top: 2.5rem;
}

.btn-google:hover {
  background-color: #e1e1e1b7;
}

/* .btn-google__image { */
/* width: 20%; */
/* } */

.btn-google__text {
  font-size: var(--size-sm);
  color: var(--clr-google-text);
  font-weight: 700;
}

/* login withe email
.login-with-email__container {
  margin-top: 2.25rem;
} */
.login-with-email__container-text {
  text-align: center;
  font-weight: 600;
  color: var(--clr-login-with-email);
  font-size: var(--size-sm);
}

/* login form */
/* flex */
/* .login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

/* grid */
.login-form {
  display: grid;
  grid-template-columns: 1fr;
  /* justify-items: center; */
  row-gap: 24px;
  /* padding: 0 3rem; */
  /* padding: 0 5rem; */
  /* padding: 0 4rem; */
  /* padding: 0 1.5rem;  good*/
  padding: 0 21px;
  /* margin-top: 36px; */
}

.login-form__label {
  display: block;
  margin-bottom: 4px;
  /* font-size: var(--size-sm); */
  /* font-size: var(--size-base); */
  font-size: var(--size-xs);
  font-weight: 600;
  color: var(--clr-google-text);
  margin-bottom: 5px;
}

.login-form__input {
  width: 100%;
  /* padding: 11px 6px; */
  /* padding: 16px 6px; */
  padding: 16px 12px;
  border-radius: 10px;
  font-family: inherit;
  border: 1px solid var(--clr-login-border);
}
::placeholder {
  color: var(--clr-login-placeholder);
}

/* checkbox */
.login-form__checkbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-form__checkbox-container--box[type="checkbox"] {
  accent-color: var(--clr-rose);
  transform: scale(0.9);
}

.login-form__checkbox-container--label {
  color: var(--clr-google-text);
  cursor: pointer;
}
.login-form__checkbox-container--label,
.login-form__checkbox-container--link {
  font-size: var(--size-sm);
}

.login-form__checkbox-container--link {
  font-size: var(--size-sm);
  text-decoration: none;
}

.login-form__btn {
  width: 100%;
}

/* create new account */
/* .login-create-account {
  position: absolute;
  bottom: 0;
  width: 100%;
} */

.login-create-account {
  margin-top: 6rem;
  text-align: center;
}
.login-create-account__description {
  font-size: var(--size-base);
}

.login-create-account__link {
  text-decoration: none;
}

/* ################################################################################# */
/* ################################# xs devices ###########################################*/
/* ################################################################################# */
@media (min-width: 475px) {
  .btn-google {
    width: 91%;
  }

  .login-wallpaper__text-container-description {
    margin-top: 0.1rem;
    font-size: var(--size-sm);
  }

  .login-with-email__container-text {
    font-size: var(--size-xs);
  }

  .login-create-account {
    margin: 10rem 0 0.5rem;
  }
}
/* sm*/
/* @media (min-width: 640px) {
  
} */
/* md */
@media (min-width: 768px) {
  .login-wallpaper__text-container {
    bottom: 62px;
  }
  .login-wallpaper__text-container-description {
    font-size: var(--size-base);
  }
  .login-wallpaper__text-container-title {
    font-size: var(--size-2xl);
  }

  /* control details */
  .login-details {
    gap: 35px;
    /* margin-top: 4rem; */
  }

  .login-details__container {
    gap: 18px;
  }

  .login-details__container-text--title {
    /* font-size: var(--size-2xl); */
    font-size: var(--size-4xl);
  }

  .login-details__container-text--description {
    font-size: var(--size-lg);
    margin-top: 0.3rem;
  }
  .btn-google__text {
    font-size: var(--size-lg);
  }
  .login-form {
    row-gap: 30px;
  }

  .login-with-email__container-text {
    font-size: var(--size-base);
  }
  .login-form__label {
    font-size: var(--size-sm);
    margin-bottom: 12px;
  }
  .login-form__checkbox-container--label,
  .login-form__checkbox-container--link {
    font-size: var(--size-base);
  }
  .login-form__checkbox-container--box[type="checkbox"] {
    transform: scale(1);
  }
  .login-create-account__description {
    font-size: var(--size-xl);
  }

  /****************** container-padding ******************/
  .btn-and-form {
    width: 64% !important;
    margin: 0 auto;
  }
}

/* lg */

@media (min-width: 1024px) {
  /****************** container-padding ******************/
  /* .btn-and-form {
  } */

  .login {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0;
  }
  .login-details__container {
    /* display: block; */
    align-items: flex-start;
  }
  .login-details__container-text--description {
    text-align: left;
  }
  .login-details__container-image {
    width: 10%;
    margin-bottom: 6px;
    /* margin-bottom: 0.9375rem */
  }

  .login-details__container-text--title {
    /* font-size: var(--size-2xl); */
    font-size: var(--size-xl);
  }
  .login-details__container-text--description {
    /* font-size: var(--size-sm); */
    font-size: var(--size-xs);
  }
  .btn-google {
    margin: 16px 0 0;
    /* width: 100%; */
    width: 25vw;
    padding: 6px 0;
  }
  .btn-google__text {
    font-size: var(--size-xs);
    /* width: 53%; */
  }

  /* .btn-google__text {
    font-size: var(--size-sm);
    width: 70%;
  } */
  .login-details {
    flex-direction: column;
    align-items: center;
    /* gap: 10px; */
    gap: 30px;
  }
  .login-with-email__container-text {
    font-size: var(--size-xxs);
  }
  /* login form */
  .login-form {
    /* margin-top: 36px; */
    row-gap: 16px;
    /* padding: 0; */
  }
  .login-form__label {
    font-size: var(--size-xs);
    /* font-size: 14px; */
    margin-bottom: 6px;
  }
  .login-form__input {
    padding: 10px 10px;
  }
  .login-form__checkbox-container {
    margin-top: 4px;
  }

  .login-form__checkbox-container--label,
  .login-form__checkbox-container--link {
    font-size: var(--size-xs);
  }
  .test {
    /* width: 40%; */
    width: 55%;
  }

  .test-2 {
    width: 50%;
  }

  .login-create-account {
    margin-top: 4rem;
  }

  .login-create-account__description {
    font-size: var(--size-sm);
  }
  /* .btn-and-form {
    width: 53% !important;
    margin: 0 auto;
  } */
}
/* xl */
/* @media (min-width: 1280px) {
} */

/* 2xl */
/* @media (min-width: 1536px) {
} */
